@model BookStore.Models.Author

@{
    ViewData["Title"] = "Author Details";
}

<h2>Author Details</h2>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FbLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FbLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstaLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstaLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedInLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedInLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt class="col-sm-2">
            Author Image
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.AuthorImagePath))
            {
                <img src="@Model.AuthorImagePath" alt="Author Image" style="max-width: 200px;" />
            }
        </dd>
        <dt class="col-sm-2">
            Author's Works
        </dt>
        <dd class="col-sm-10">
        
                @if (Model.Books != null && Model.Books.Any())
                {
                @foreach (var book in Model.Books)
                    {
                        <span class="book-item">
                            <a asp-action="Details" asp-controller="Books" asp-route-id="@book.BookId" style="color:black">@book.BookTitle</a>
                        </span>

                        @if (book != Model.Books.Last())
                        {
                            <span class="separator">, </span>
                        }
                    }
                }
                else
                {
                    <span>No books found for this Author.</span>
                    }
        
        </dd>
        <dt class="col-sm-2">
            Author's Essays
        </dt>
        <dd class="col-sm-10">
     
            @if (Model.Essays != null && Model.Essays.Any())
            {
                @foreach (var essay in Model.Essays)
                {
                    <span>
                        <a asp-action="Details" asp-controller="Essay" asp-route-id="@essay.EssayId" style="color:black">@essay.EssayTitle</a>
                    </span>

                    @if (essay != Model.Essays.Last())
                    {
                        <span class="separator">, </span>
                    }
                }
            }
            else
                {
                    <span>No Essays found for this Author.</span>
                    }
        
            
        </dd>
    </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuthorId" class="btn Anotherbtn">Edit</a> <br />
   
    <a asp-action="Index" style="text-decoration:underline;color:#2a2438">Back to Authors List</a>

</div>
