@model IEnumerable<BookStore.Models.Essay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EssayTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EssayDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EssayAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EssayImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EssayTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EssayDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EssayAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EssayImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EssayId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EssayId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EssayId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
