@model BookStore.Models.Quote

@{
    ViewData["Title"] = "Delete Quote";
}
<h3 style="font-weight:bold">Are you sure you want to delete this Quote?</h3>
<br />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteText)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteImagePath)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="QuoteId" />
        <input type="submit" value="Delete" class="btn Anotherbtn" style="margin-top:7px;margin-bottom:3px" /> <br />
        <a asp-action="Index" style="text-decoration:underline;color:#2a2438">Back to Quotes List</a>
    </form>

  
</div>
