@model IEnumerable<BookStore.Models.Quote>

@{
    ViewData["Title"] = "Quotes";
}

<h1>Quotes</h1>
<p >
    <a asp-action="Create" class="btn myBtn" style="text-decoration:none;">New Quote?</a>
</p>

<div class="container">
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4 d-flex">
                <div class="essay-card d-flex flex-column align-items-stretch myBtn w-100">
                    <div class="d-flex flex-row">
                        <div class="content-section p-3 w-100">
                            <p class="description-text">
                                @item.QuoteText
                            </p>
                            <p>Creation: @Html.DisplayFor(modelItem => item.CreationDate)</p>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="Edit" asp-route-id="@item.QuoteId" class="btn Anotherbtn">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.QuoteId" class="btn Anotherbtn">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.QuoteId" class="btn Anotherbtn">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
