@model IEnumerable<BookStore.Models.AdsSlider>

@{
    ViewData["Title"] = "Ads";
}

<h1>Ads</h1>

<p>
    <a asp-action="Create" class="btn myBtn" style="text-decoration:none;">New Ad?</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
      

        <div class="col-md-4 mb-4">
            <div class="card myBtn" style="min-height: 400px;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-weight:bold">@Html.DisplayFor(modelItem => item.AdTitle)</h5>
                    <img src="@item.AdImagePath" alt="Ad Image" class="img-fluid mb-3" style="max-height: 150px; object-fit: cover; border-radius: 8px;" />
                    <p class="card-text">Type: @Html.DisplayFor(modelItem => item.AdType)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.AdDescription)</p>
                    <p class="card-text">Is Active? @Html.DisplayFor(modelItem => item.IsActive) | Is Deleted? @Html.DisplayFor(modelItem => item.IsDeleted)</p>
                    <p class="card-text">Creation Date: @Html.DisplayFor(modelItem => item.CreationDate)</p>

                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@item.AdId" class="btn Anotherbtn">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.AdId" class="btn Anotherbtn">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.AdId" class="btn Anotherbtn">Delete</a>
                </div>
            </div>
            
        </div>

        
    }
</div>
