@model IEnumerable<BookStore.Models.Author>

@{
    ViewData["Title"] = "All Authors";
}

<div class="line-separator"></div>
<div class="page-title">
    <h2 style="color:#113f67; margin-bottom:30px;">All Authors</h2>
</div>
<div class="authors-container">
    @foreach (var author in Model)
    {
        <div class="author-item">
            <a asp-action="Details" asp-controller="Author" asp-route-id="@author.AuthorId">
                <div class="image-container">
                    <img src="@author.AuthorImagePath" alt="@author.AuthorName" class="author-image">
                </div>
                <h4 class="author-name">@author.AuthorName</h4>
                <div class="social-links">
                    <a href="@author.FbLink"><img style="width:20px;height:20px;" src="~/img/facebook_blue.png" alt="Facebook"></a>
                    <a href="@author.InstaLink"><img style="width:20px;height:20px;" src="~/img/instagram_blue.png" alt="Instagram"></a>
                    <a href="@author.XLink"><img style="width:20px;height:20px;" src="~/img/twitterfilled.png" alt="Twitter"></a>
                    <a href="@author.LinkedInLink"><img style="width:23px;height:23px;" src="~/img/linkedin_blue.png" alt="LinkedIn"></a>
                </div>
            </a>
        </div>

    }
</div>
<style>
    .cont {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
        padding: 50px;
        background-color: #e7eaf6;
    }
    .page-title {
        text-align: center;
    }

        .page-title h2 {
            display: inline-block;
            font-size: 40px;
            font-weight: bold;
            position: relative;
        }

            .page-title h2::after {
                content: "";
                display: block;
                width: 50%;
                height: 3px;
                background-color: #113f67;
                position: absolute;
                bottom: -5px;
                left: 25%;
            }

    .authors-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 20px;
        max-width: 1200px;
        margin: auto;
    }

    .author-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #a2a8d3;
        border-radius: 8px;
        border-color: #38598b;
        border: 2px solid #38598b;
        padding: 10px;
        height: 270px;
        justify-content: space-between;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .author-image {
        width: 100px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .author-name {
        min-height: 40px;
        margin: 10px 0;
        color: #113f67;
    }

    .social-links {
        display: flex;
        justify-content: center;
        margin-top: auto;
    }

        .social-links a {
            margin: 0 5px;
        }
</style>
