@model BookStore.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookTitle" class="control-label"></label>
                <input asp-for="BookTitle" class="form-control" />
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                @Html.DropDownListFor(model => model.Language,
                         new SelectList(Enum.GetValues(typeof(Book.lang)).Cast<Book.lang>().Select(e => new { Id = e, Name = e.ToString() }), "Id", "Name"),
                         "Select Book Language",
                         new { @class = "form-control" })
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                @Html.DropDownListFor(model => model.Topic,
                         new SelectList(Enum.GetValues(typeof(Book.field)).Cast<Book.field>().Select(e => new { Id = e, Name = e.ToString() }), "Id", "Name"),
                         "Select Book Topic",
                         new { @class = "form-control" })
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label"></label>
                @Html.DropDownListFor(model => model.Available,
                         new SelectList(Enum.GetValues(typeof(Book.availability)).Cast<Book.availability>().Select(e => new { Id = e, Name = e.ToString() }), "Id", "Name"),
                         "Select Book Availability",
                         new { @class = "form-control" })
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                @Html.DropDownListFor(model => model.Currency,
                         new SelectList(Enum.GetValues(typeof(Book.currency)).Cast<Book.currency>().Select(e => new { Id = e, Name = e.ToString() }), "Id", "Name"),
                         "Select Book Currency",
                         new { @class = "form-control" })
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AvailableQuantity" class="control-label"></label>
                <input asp-for="AvailableQuantity" class="form-control" />
                <span asp-validation-for="AvailableQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="imageFile">Upload Book Image</label>
                <input type="file" name="imageFile" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

