@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn myBtn" style="text-decoration:none;">New Book?</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card myBtn" style="min-height: 400px;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-weight:bold">@Html.DisplayFor(modelItem => item.BookTitle)</h5>
                    <img src="@item.BookImagePath" alt="Book Image" class="img-fluid mb-3" style="max-height: 200px; object-fit: cover; border-radius: 8px;" />
                    <p class="card-text">Topic: @Html.DisplayFor(modelItem => item.Topic)</p>
                    <p class="card-text">Language: @Html.DisplayFor(modelItem => item.Language)</p>
                    <p class="card-text">Price: @Html.DisplayFor(modelItem => item.Price) @Html.DisplayFor(modelItem => item.Currency)</p>
                    <p class="card-text">Available Quantity: @Html.DisplayFor(modelItem => item.AvailableQuantity)</p>
                    <p class="card-text">Author: @Html.DisplayFor(modelItem => item.Author.AuthorName)</p>
                    <p class="card-text">Activation: @Html.DisplayFor(modelItem => item.IsActive) || Deletion: @Html.DisplayFor(modelItem => item.IsDeleted)</p>
                    <p class="card-text">Added on: @Html.DisplayFor(modelItem => item.CreationDate)</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@item.BookId" class="btn Anotherbtn">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.BookId" class="btn Anotherbtn">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.BookId" class="btn Anotherbtn">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
