@model dynamic 

@* 
<h1>Dashboard</h1>
<div>
    <ul>
        <li>Number of Ads: @Model.AdsCount</li>
        <li>Number of Books: @Model.BooksCount</li>
        <li>Number of Authors: @Model.AuthorsCount</li>
        <li>Number of Essays: @Model.EssaysCount</li>
    </ul>
</div> *@


<section id="mu-counter">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-counter-area">

					<div class="mu-counter-block">
						<div class="row">

							<!-- Start Single Counter -->
							<div class="col-md-6 col-sm-6" >
								<div class="mu-single-counter" style="border-color:#113f67">
									<i class="fa fa-book" aria-hidden="true" style="color:#38598b"></i>
									<div class="counter-value" data-count="@Model.BooksCount" style="color:#113f67">0</div>
									<h5 class="mu-counter-name" style="color:#113f67">Books</h5>
								</div>
							</div>
							<!-- / Single Counter -->
							@* <div class="col-md-4 col-sm-6">
								<div class="mu-single-counter" style="border-color:#113f67">
									<i class="fa fa-file-text-o" aria-hidden="true" style="color:#38598b"></i>
									<div class="counter-value" data-count="@Model.EssaysCount" style="color:#113f67">0</div>
									<h5 class="mu-counter-name" style="color:#113f67">Essays</h5>
								</div>
							</div> *@
							
							<div class="col-md-6 col-sm-6">
								<div class="mu-single-counter" style="border-color:#113f67">
									<i class="fa fa-users" aria-hidden="true" style="color:#38598b"></i>
									<div class="counter-value" data-count="@Model.AuthorsCount" style="color:#113f67">0</div>
									<h5 class="mu-counter-name" style="color:#113f67">Authors</h5>
								</div>
							</div>
							

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>
